<%= simple_form_for(@tool) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class ="row">
      <div class="small-6 columns">
        <%= f.input :name, :label=>"Nome" %>
        <%= f.input :description, :label=>"Descrizione" %>
      </div>
      <div class="small-6 columns">
        <%= f.input :picture, :label=>"Immagine" %>
        <%= f.association :machine, :label=>"Macchinario", :prompt=>"Scegli un macchinario...", :required=>true %>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="form-actions">
    <%= f.button :submit, "Salva" %>
  </div>
  </div>
<% end %>
