<p id="notice"><%= notice %></p>
<div class="row">
<h1>Lista Strumenti</h1>
</div>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Immagine</th>
      <th>Macchinario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.description %></td>
        <td><%= tool.picture %></td>
        <td><%= tool.machine.name if tool.machine.present? %></td>
        <td><%= link_to 'Dettagli', tool, :class=>"button" %></td>
        <td><%= link_to 'Modifica', edit_tool_path(tool), :class=>"button warning" %></td>
        <td><%= link_to 'Elimina', tool, method: :delete, data: { confirm: 'Vuoi davvero eliminare questo strumento?' }, :class=>"button alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">

<%= link_to 'Aggiungi nuovo strumento', new_tool_path, :class=>"button"%>
</div>