<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Immagine:</strong>
  <%= @tool.picture %>
</p>

<p>
  <strong>Macchinario:</strong>
  <%= @tool.machine_id %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
