
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
   <div class="row">
    <h4> Commessa: <%= @task.order.label_print %> - Articolo: <%=  @task.order.article.description %></h4>
    <h5>Quantità: <%= @task.order.total_pieces %></h5>
  </div>
  <div class="form-inputs">
    <div class="row">
   
        
      <div class="small-6 columns">
        <%= f.association :operator, :label=>"Operatore" %>
      </div>
      <div class="small-6 columns">
         <%= f.association :metalwork, :collection=> @task.order.article.metalworks, label_method: :description, :label => "Processo" %>
      </div>
    </div>
   
    <div class="row">
      
      <div class="small-3 columns" style="display:none;">
        <%= f.association :order, :label=>"Commessa" %>
      </div>
      
      <div class="small-3 columns">
        <%= f.input :quantity, :label=>"Quantità" %>
      </div>
     
      <div class="small-3 columns">
        <%= f.input :done, :label=>"Completato" %>
      </div>
      <div class="small-3 columns">
        <%= f.input :priority, :label=>"Priorità" %>
      </div>
    </div>
  </div>
<div class="row">
   <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
 
<% end %>
