<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-12 columns">
    <h1>Elenco Task</h1>


<div class="row">
  <div class="small-12 columns">
<table>
  <thead>
    <tr>
      <th>Operatore</th>
      <th>Lavorazione</th>
      <th>Commessa</th>
      <th>Quantità</th>
      <th>Velocità</th>
      <th>Completato</th>
      <th colspan="4"> - </th>
      
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.operator.name if task.operator.present? %></td>
        <td><%= task.metalwork.description if task.metalwork.present? %></td>
        <td><%= task.order.label_print if task.order.present? %></td>
        <td><%= task.quantity %></td>
        <td><%= task.speed %></td>
        <td><%= task.done %></td>
        <td><%= link_to 'Procedi', new_job_path(), :task_id=> task.id, :class=>"button large" %></td>
        <td><%= link_to 'Dettagli', task, :class=>"button large" %></td>
        <td><%= link_to 'Modifica', edit_task_path(task), :class=>"button large" %></td>
        <td><%= link_to 'Elimina', task, method: :delete, data: { confirm: 'Sei sicuro di voler eliminare questa fase?' }, :class=>"button large"%></td>
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Nuovo Task', new_task_path, :class=>"button extend" %>
  </div>
</div>

