<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-12 columns">
    <h1>Elenco Task</h1>


<div class="row">
  <%= select_tag 'operator_id', options_from_collection_for_select(Operator.all, "id", "name"), :prompt => "Scegli operatore...", :include_blank => "Tutti" %>

<script>
    $(function(){
      $('#operator_id').bind('change', function () {
         var url = "tasks?operator=" + $(this).val()
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
    });
</script>
  <div class="small-12 columns">
<table>
  <thead>
    <tr>
      <th>Operatore</th>
      <th>Lavorazione</th>
      <th>Commessa</th>
      <th>Quantità</th>
      <th>Rimasti</th>
      <th>Completato</th>
       <% if @admin %>
      <th colspan="4"> - </th>
      <% end %>
      
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.operator.name if task.operator.present? %></td>
        <td><%= task.metalwork.description if task.metalwork.present? %></td>
        <td><%= task.order.label_print if task.order.present? %></td>
        <td><%= task.quantity %></td>
        <td><%= task.left_to_do %></td>
        <td><%= task.done? %></td>
        <td><%= link_to 'Procedi', new_job_path(:task_id=> task.id),  :class=>"button large" %></td>
        <% if @admin %>
        <td><%= link_to 'Dettagli', task, :class=>"button large" %></td>
        <td><%= link_to 'Modifica', edit_task_path(task), :class=>"button large" %></td>
        <td><%= link_to 'Elimina', task, method: :delete, data: { confirm: 'Sei sicuro di voler eliminare questa fase?' }, :class=>"button large"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Nuovo Task', new_task_path, :class=>"button extend" %>
  </div>
</div>

