<p id="notice"><%= notice %></p>
<div class="row">
  <h2><%= @task.order.label_print %></h2>
  <h3><%= @task.metalwork.description %></h3>
</div>
<div class="row">
  <div class="small-6 columns"><strong>Operatore:</strong> <%= @task.operator.name %></div>
  <div class="small-6 columns">  <strong>Quantità:</strong>
  <%= @task.quantity %></div>
</div>
<div class="row">
  <table>
     <tr class="jobs">
              
              <th>Inizio</th>
              <th>Durata</th>
              <th>Quantità</th>
              <th>Velocità</th>
              <th>Note</th>
              
            </tr>
          <% @task.jobs.each do |job| %>
            <tr class="jobs">
              
              <td><%= job.started_at %></td>
              <td><%= job.haul %></td>
              <td><%= job.q_tot %></td>
              <td><%= job.speed %></td>
              <td><%= job.note %></td>
              
            </tr>
          <% end %>
  </table>
  </div>
  <div class="row">
  <div class="small-3 columns">Tempo totale: <%=format_total_time @task.total_time %> </div>
  <div class="small-3 columns">Quantità totale: <%= @task.total_done %> </div>
  <div class="small-3 columns">Velocità: <%= @task.total_speed %> </div>
  <div class="small-3 columns">Velocità prevista: <%= @task.metalwork.speed %> </div>
</div>
  <hr>
<div class="row">
  <div class="small-6 columns"><%= link_to "Torna all'ordine", @task.order, :class=>"button large" %></div>
  <div class="small-6 columns"></div>
</div>




