<p id="notice"><%= notice %></p>

<p>
  <strong>Operator:</strong>
  <%= @task.operator.name %>
</p>

<p>
  <strong>Process:</strong>
  <%= @task.metalwork.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @task.order.label_print %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @task.quantity %>
</p>


<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
