<p id="notice"><%= notice %></p>

<p>
  <strong>Operator:</strong>
  <%= @task.operator_id %>
</p>

<p>
  <strong>Process:</strong>
  <%= @task.process_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @task.order_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @task.quantity %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @task.speed %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
