<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.association :operator, label_method: :full_name %>
    <%= f.input :started_at, as: :date, html5: true,:data=>{:date_format=>"dd/mm/yyyy"}, :label=>"Data inizio lavorazione" %>
    <%= f.input :completed_at,  as: :date, html5: true,:data=>{:date_format=>"dd/mm/yyyy"}, :label=>"Data fine lavorazione"  %>
    <%= f.association :metalwork %>
    <%= f.association :order, label_method: :label_print, :label=>"Commessa" %>
  </div>
  <div>
    
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Salva Lavorazione" %>
  </div>
<% end %>
