<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  
  
  <div class="row">
    <h2>Consegna <%= @task.order.expire + " - " + @task.order.article.code %> </h2>
    <h4>Operatore: <%= @task.operator.name + " - " + @task.quantity.to_s %> pezzi</h4>
    
    <div class="small-6 columns">
      <h2 id="startLabel">&nbsp;</h2>
          <%= f.input :started_at, :as =>:hidden, :html5=>true %>
         

    </div>
    
    <div class="small-6 columns">
       <h2 id="stopLabel">&nbsp;</h2>
        <%= f.input :completed_at, :as => :hidden, html5: true  %>
       
    </div>
  </div>
  <div class ="row">
     <a href="#" class="button success large round small-6 columns" id="buttonstart" onClick="startTime();">START</a>
     <a href="#" class="button disabled alert large round small-6 columns" id="buttonstop" onClick="stopTime();">STOP</a>
  </div>
  <div class="row">
    <div class="small-6 columns">
       <%= f.input :q_in, :label=>"Quantità iniziale", input_html: {value: 0} %>
    </div>
  
    <div class="small-6 columns">
       <%= f.input :q_fin, :label=>"Quantità finale", input_html: {value: 0} %>
    </div>
  <div class="form-inputs">
    
    
    <%= f.hidden_field :task_id, :value => @task.id %>
    <%= f.association :operator, as: :hidden, label_method: :full_name %>
    <%= f.association :metalwork, as: :hidden %>
  </div>
  <div>
  <div class ="row">
    <div class="small-2 columns">
    <a class="button large right" href="#" onClick="$('#note_field').slideToggle('slow');">Aggiungi nota</a>
    </div>
     <div class="small-10 columns">
       <%= f.input_field :note, label: false, :class=> "", :style=>"display:none; height:150px;", :id=>"note_field" %>
    </div>
  </div>
  </div>
  <div class="form-actions">
    <div class ="row">
    <%= f.button :submit, "SALVA LAVORAZIONE", :task_id => @task.id, :class=>"12-small columns disabled", :id=>"buttonsave" %>
    </div>
  </div>
<% end %>
