<p id="notice"><%= notice %></p>

<h1>Elenco lavorazioni</h1>



<table>
  <thead>
    <tr>
      <th>Operatore</th>
      <th>Data e ora inizio</th>
      <th>data e ora fine</th>
      <th>Codice lavorazione</th>
      <th>Quantità</th>
      <th>Tempo</th>
      <th>Velocità</th> 
      <th>Commessa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.task.operator.full_name if job.task.present?%></td>
        <td><%= job.started_at %></td>
        <td><%= job.completed_at %></td>
        <td><%= job.task.metalwork.description if job.task.present?%></td>
        <td><%= job.q_tot %></td>
        <td><%= job.haul %></td>
        <td class="<%= job.alert_class %>"><%= job.speed.round(4) %></td>
        <td><%= job.order.label_print if job.order.present?%></td>
        <td><%= link_to 'Dettagli', job %></td>
        <td><%= link_to 'Modifica', edit_job_path(job) %></td>
        <td><%= link_to 'Elimina', job, method: :delete, data: { confirm: 'Sei Sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
