<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @operator.surname %>
</p>

<p>
  <strong>Immagine:</strong>
  <%= @operator.picture %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
