<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @operator.surname %>
</p>

<p>
  <strong>Immagine:</strong>
  <%= @operator.picture %>
</p>

<%= link_to 'Modifica Dati Operatore', edit_operator_path(@operator), :class=>"button" %> |
<%= link_to 'Torna a Lista Opertatori', operators_path, :class=>"button" %>
