<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Elenco Clienti</h1>
</div>

<div class="row">
<table>
  <thead>
    <tr>
      <th>Nome/Ragione sociale</th>
      <th>Descrizione</th>
      <th>Immagine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.description %></td>
        <td><%= customer.picture %></td>
        <td><%= link_to 'Dettagli', customer %></td>
        <td><%= link_to 'Modifica', edit_customer_path(customer) %></td>
        <td><%= link_to 'Elimina', customer, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">

<%= link_to 'Inserisci nuovo Cliente', new_customer_path, :class=>"button" %>

</div>