<p id="notice"><%= notice %></p>
<div class="row">
<h1>Elenco Commesse</h1>
</div>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Data di ricezione</th>
      <th>Data di consegna</th>
      <th>Note</th>
      <th>Articolo</th>
      <th>Cliente</th>
      <th>Prezzo tot.</th>
      <th>Pezzi tot.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date_ric.strftime("%d/%m/%Y") if order.date_ric.present? %></td>
        <td><%= order.date_cons.strftime("%d/%m/%Y") if order.date_cons.present? %></td>
        <td><%= order.note %></td>
        <td><%= order.article.code %></td>
        <td><%= order.customer.name %></td>
        <td><%= order.price %></td>
        <td><%= order.total_pieces %></td>
        <td><%= link_to 'Dettagli', order, :class=>"button"%></td>
        <td><%= link_to 'Modifica', edit_order_path(order), :class=>"button warning" %></td>
        <td><%= link_to 'Elimina', order, method: :delete, data: { confirm: 'Sei sicuro di voler eliminare questa commessa?' }, :class=>"button alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="row">
<%= link_to 'Nuova commessa', new_order_path, :class=>"button" %>
</div>