<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-12 columns">
    <h1><%= @order.label_print %></h1>
    <h2><%= @order.article.code + " - " + @order.article.description %></h2>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    Ricezione:<br>
    <strong><%= @order.date_ric.strftime("%d/%m/%Y") %></strong>
  </div>
  <div class="small-6 columns">
    Consegna:<br>
    <strong><%= @order.date_cons.strftime("%d/%m/%Y") %></strong>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    Note:<br>
    <strong><%= @order.note %></strong>
  </div>
  <div class="small-6 columns">
    Prezzo totale:<br>
    <strong>€ <%= @order.total_pieces * @order.article.price if @order.article.price.present? %></strong>
  </div>
  <div class="small-6 columns">
    Pezzi totali:<br>
    <strong><%= @order.total_pieces %></strong>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul>
      <% @order.article.metalworks.each do |work| %>
      
      <li>
        Ci sono ancora <%= @order.pieces_remaining_for(work) %> pezzi da assegnare per il processo <%= Metalwork.find(work).description %>.
      </li>
      
      <% end %>
      
    </ul>
    
    
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Operatore</th>
          <th>Lavorazione</th>
          <th>Commessa</th>
          <th>Quantità</th>
          <th>Durata</th>
          <th>Completato</th>
          <th colspan="3"> - </th>
        </tr>
        
      </thead>
    
      <tbody>
        <% @tasks.each do |task| %>
          <tr style="border-top:1px solid black;">
            <td><%= task.operator.full_name %></td>
            <td><%= task.metalwork.description %></td>
            <td><%= task.order.label_print %></td>
            <td><%= task.quantity %></td>
            <td><%= task.quantity / task.metalwork.speed if task.metalwork.speed %> min.</td>
            <td><%= task.done ? "V" : "X" %></td>
            <td><%= link_to 'Dettagli', task, :class=>"button " %></td>
            <td><%= link_to 'Modifica', edit_task_path(task), :class=>"button warning" %></td>
            <td><%= link_to 'Elimina', task, method: :delete, data: { confirm: 'Sei sicuro?' }, :class=>"button alert"%></td>
          </tr>
          <tr class="jobs">
              <th colspan="1"></td>
              <th>Inizio</th>
              <th>Durata</th>
              <th>Quantità</th>
              <th>Velocità</th>
              <th colspan="4"></th>
            </tr>
          <% task.jobs.each do |job| %>
            <tr class="jobs">
              <td colspan="3"></td>
              <td><%= job.started_at %></td>
              <td><%= job.haul %></td>
              <td><%= job.q_tot %></td>
              <td><%= job.speed %></td>
              <td colspan="2"></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
  
  </div>
</div>



<div class="row">
    <%= link_to "Aggiungi task", new_task_path(@task, :order_id=>@order.id), :class=>"button" %> 
    <%= link_to 'Modifica dati commessa', edit_order_path(@order), :class=>"button" %> 
    <%= link_to 'Torna  a elenco commesse', orders_path, :class=>"button" %>
  </div>

