<div class="row">
    <div class="small-1 columns"><%= image_tag "logo_aml_srl.jpg" %></div>
    <div class="small-11 columns"><h1>Pannello di controllo</h1></div>
</div>
<hr>
<div class="row">
    <div class="small-12 columns">
        <h2>Anagrafiche</h2>
    </div>
</div>
<div class="row">
    
    <div class="small-6 columns">
        <%= link_to "Anagrafica Operatori", operators_path, :class=>"button expanded"%>
    </div>
    <div class="small-6 columns">
        <%= link_to "Anagrafica Clienti", customers_path, :class=>"button expanded"%>
    </div>
</div>

<hr>
<div class="row">
    <div class="small-12 columns">
        <h2>Macchinari e Strumenti</h2>
    </div>
</div>
<div class="row">
    
    
    <div class="medium-6 columns">
        <%= link_to "Elenco Macchinari", machines_path, :class=>"button expanded"%>
    </div>
    <div class="medium-6 columns">
        <%= link_to "Elenco Strumenti", tools_path, :class=>"button expanded"%>
    </div>
</div>

<hr>
<div class="row">
    <div class="small-12 columns">
        <h2>Articoli e Processi</h2>
    </div>
    <div class="medium-6 columns">
        <%= link_to "Elenco Articoli", articles_path, :class=>"button expanded"%>
    </div>
    <div class="medium-6 columns">
        <%= link_to "Elenco Processi", metalworks_path, :class=>"button expanded"%>
    </div>
</div>

<hr>
<div class="row">
    <div class="small-12 columns">
        <h2>Ordini e lavorazioni</h2>
    </div>
    <div class="medium-6 columns">
        <%= link_to "Elenco Ordini", orders_path, :class=>"button expanded"%>
    </div>
    <div class="medium-6 columns">
        <%= link_to "Elenco Lavorazioni", jobs_path, :class=>"button expanded"%>
    </div>
</div>
<hr>
<div class="row">
    <div class="small-12 columns">
        <%= link_to "Elenco Task (amministratore)", "/tasks?admin=true", :class=>"button alert expanded"%>
    </div>
</div>