<%= simple_form_for(@metalwork) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class ="row">
      <div class="small-6 columns">
        <%= f.input :name, :label=>"Codice" %>
        <%= f.input :description, :label=>"Descrizione" %>
        <%= f.input :note, :label=>"Note" %>
         <%= f.input :speed, :label=>"Velocità (Pz./min)" %>
      </div>
    
      <div class="small-6 columns">
        <%= f.label "Immagine" %>
        <%= f.file_field :picture %>
        <%= f.association :machine, :label =>"Macchinario", :prompt=>"Scegli il Macchinario...", :required=>true %>
        <hr>
        <%= f.association :tool, :label =>"Strumento", :label_method=>:label_machine, :prompt=>"Scegli lo Strumento...", :required=>true %>
        </div>
      </div>
  </div>

  <div class="form-actions">
    <div class ="row">
      <%= f.button :submit, "Salva Processo" %>
    </div>
  </div>
<% end %>
