<p id="notice"><%= notice %></p>
<div class="row">
<h1>Elenco Processi</h1>
</div>

<div class="row">
<table>
  <thead>
    <tr>
      <th>Codice</th>
      <th>Descrizione</th>
      <th>Immagine</th>
      <th>Macchinario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metalworks.each do |metalwork| %>
      <tr>
        <td><%= metalwork.name %></td>
        <td><%= metalwork.description %></td>
        <td><%= metalwork.picture %></td>
        <td><%= metalwork.machine.name %></td>
        <td><%= link_to 'Dettagli', metalwork, :class=>"button" %></td>
        <td><%= link_to 'Modifica', edit_metalwork_path(metalwork), :class=>"warning button" %></td>
        <td><%= link_to 'Elimina', metalwork, method: :delete, data: { confirm: 'Sei sicuro?' }, :class=>"alert button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="row">

<%= link_to 'Nuovo processo', new_metalwork_path, :class=>"button" %>
</div>