
<%= simple_form_for(@machine) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="small-6 columns">
    <%= f.input :name, :label=>"Nome" %>
    </div>
    <div class="small-6 columns"
    <%= f.input :description, :label=>"Descrizione"%>
    
  </div>
<div class="row">
      <div class="small-12 columns">
        <%= f.label "Immagine" %>
    <%= f.file_field :picture %>
    </div>
    </div>
  </div>
<div class="row">
  <div class="form-actions">
    <%= f.button :submit, "Salva" %>
  </div>
  </div>
<% end %>
