<p id="notice"><%= notice %></p>
<div class="row">
<h1>Lista macchinari</h1>
</div>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Immagine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.name %></td>
        <td><%= machine.description %></td>
        <td><%= image_tag(machine.picture_url) if machine.picture.present? %></td>
        <td><%= link_to 'Mostra', machine, :class=>"button" %></td>
        <td><%= link_to 'Modifica', edit_machine_path(machine), :class=>"button warning" %></td>
        <td><%= link_to 'Elimina', machine, method: :delete, data: { confirm: 'Sei sicuro?' }, :class=>"button alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="row">
<%= link_to 'Inserisci Macchinario', new_machine_path, :class=>"button" %>
</div>