<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @machine.name %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @machine.description %>
</p>

<p>
  <strong>Immagine:</strong>
  <%= @machine.picture %>
</p>

<%= link_to 'Modifica', edit_machine_path(@machine), :class=>"button" %> |
<%= link_to 'Torna Indietro', machines_path, :class=>"button" %>
